body {
  margin: 0;
  background-repeat: no-repeat; 
  background-size: cover;
  color: #ffffff1e;
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  padding: 40px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
  width: 1000px;
  max-width: 1900px;
  transition: transform 0.2s;
}

.app:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.timer {
  position: top right;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.quiz {
  background: transparent; /* Transparent background */
  border: none;
  padding: 20px;
  box-shadow: none;
  animation: fadeIn 0.5s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;
  color: white; /* Ensure text is visible */
}

.question-container {
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background: transparent; /* Transparent background */
  opacity: 100%;
}

.power-ups {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.power-up-button {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.hint {
  margin-bottom: 16px;
  font-style: italic;
}

.question {
  background: rgba(255, 255, 255, 0.123); /* Transparent background */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: top;
  color: white; /* White font color */
}

.drop-zone {
  border: 2px dashed #6200ea;
  padding: 20px;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
}

.drop-zone.hover {
  background-color: #eee;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.option {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.option-image {
  width: fit-content;
  max-width: 140px;
  height: fit-content;
  max-height: 140px;
}

.option.dragging {
  opacity: 0.5;
}

.table {
  background: transparent;
  display: grid;
  gap: 8px;
  width: 100%;
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #6200ea;
  border-radius: 8px;
}

.table-cell {
  border: 2px dashed #6200ea;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.table-cell.hover {
  background-color: #eee;
}

.results {
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.documentation-container {
  flex: 1;
  padding: 10px;
  background: transparent; /* Transparent background */
  border: 2px solid #8e2de2; /* Purple border */
  border-radius: 8px;
  color: white; /* White font color */
}
