body{
  margin: 0;
  background-image: url("./MCQ_bgimg/neutron\ star.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #ffffff;
}

.submit{
  padding: 10px 20px;
  background-color: #4caf4f00;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 166, 0);
  border-radius: 50% ;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
}

.fire{
  background-color: white;
  border : 5px solid whitesmoke;
  position : fixed;
  top : 80% ; 
  left : 90%;
  border-radius:50%;
  padding: 18px 0px 18px 0px;
  z-index:100;
}

.fire:hover{
  transform: scale(1.02);
  background-color: white;
  border : 5px solid whitesmoke;
  opacity: 0.8;
}

.mainContent{
  z-index: 100;
}

.mainQuestion{
  width:80%;
  padding-left: 20px;
  color: #ffffff;
}

.documentation{
  position:fixed;
  top : 10%;
  left:50%;
  background-color: rgba(128, 0, 128, 0.334);
  align-self: left;
  width : 35%;
  height:80%;
  border : 3px solid rgba(255, 68, 0, 0.384);
  padding : 2px;
  padding-left:10px;
  color: #ffffff;
}

.mcqpics{
  width: 200px;
  height:150px;
  margin:2px;
  border-radius: 15%;
}

.mcqpics:hover{
  transform: scale(1.01);
  opacity: 0.7;
}

.Question{
  text-align: justify;
  padding: 30px;
  padding-top: 0px;
  width : 75%;
  margin-top: 10px;
}

#img1{
  position: fixed;
  top: 25%;
  left:65%;
  width: 250px;
  height: 200px;
  margin-bottom: 40px;
  margin-left:0px;
}

#img2{
  position: fixed;
  top: 50%;
  left:65%;
  width:250px;
  height: 200px;
  margin-top: 40px;
  margin-left:0px;

}

#powerups{
  width: 300px;
  height: 60px;
  border: none;
  background-color: #8a2be2;
  color: white;
  font-size: 24px;
  cursor: pointer;

  transition: transform 0.3s ease;
  margin-right: 20px;
}